/logs

# air
/.tmp
/.pidfile

# neovim
.null-ls*

# build
/bin/*
!/bin/.keep

# environments
/.env

# database
*.sqlite

# misc
.DS_Store

# go workspaces
/go.work.sum
/go.work

# configs
/config.yaml
