/logs

# air
/.tmp
/.pidfile

# neovim
.null-ls*

# build
/bin/*
!/bin/.gitkeep

# data
/data/*
!/data/.gitkeep

# environments
/.env

# database
/.store

# misc
.DS_Store

# go workspaces
/go.work.sum
/go.work

# configs
/config/*
!/config/example.yaml
