/logs

# air
/.tmp
/.pidfile

# neovim
.null-ls*

# build
/bin/*

# environments
/.env

# database
/.db

# misc
.DS_Store

# go workspaces
/go.work.sum
/go.work

# generated database files
/internal/db/db.go
/internal/db/models.go
/internal/db/queries.sql.go
