{
  "singleQuote": true,
  "trailingComma": "all",
  "importOrder": [
    "^@nestjs/(.*)$",
    "^([\\w@](?!defiq)|\\w+)(.*)$",
    "^@defiq/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true
}
